html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.single-comment-window {
    background-color: lightcyan;
}

.item-prettify {
    background-color: lightcyan;
    opacity: 0.7%;
}

.attached-photo-indicator {
    background-color: cyan;
    border-left: 6px solid blue;
}

.error-warning {
    border-left: 6px solid red;
    background-color: cyan;
    padding: 1em;
}

.comment-img {
    max-height: 150px; 
    max-width: 300px; 
    float: left; 
    padding: 1em;
}